body {
  background-color: #000;
  color: #fff;
  font-family: 'Segoe UI', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.auth-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;
}

.auth-form {
  background-color: #181818;
  border: 2px solid #474747;
  border-radius: 20px;
  box-shadow: 0 4px 32px rgba(255,255,255, 0.05);
  padding: 38px 34px 28px 34px;
  max-width: 420px;
  width: 100%;
}

.auth-form h2 {
  margin: 0 0 28px 0;
  text-align: center;
  color: #fff;
  text-shadow: 0 2px 22px #000a;
  font-size: 2.2rem;
  border-bottom: 2px solid #fff;
  padding-bottom: 8px;
  font-weight: bold;
  letter-spacing: 1.5px;
}

.auth-form label {
  display: block;
  margin-top: 18px;
  margin-bottom: 5px;
  color: #e2e2e2;
  font-weight: bold;
  font-size: 1.11rem;
  letter-spacing: 0.4px;
}

.auth-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 5px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background-color: #ffffff;
  color: #fff;
  font-size: 1rem;
  box-sizing: border-box;
  transition: border-color 0.2s;
}

.auth-form input:focus {
  border-color: #fff;
  outline: none;
}

.auth-form button {
  width: 100%;
  padding: 13px;
  margin-top: 22px;
  border: none;
  border-radius: 8px;
  background: #000000;
  color: #e3e3e3;
  font-size: 1.13rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 16px #2222;
}

.auth-form button:hover {
  background: white;
  color: #181818;
}

p {
  color: #fff;
}

::placeholder {
  color: #888;
  opacity: 1;
}
